html {
  background-color: #a997ba;
  color: #422352;
  font-family: "Oleo Script Swash Caps", cursive;
}

span {
  font-family: Notable;
  color: #c4bcd3;
}

hr {
  border-color: #c4bcd3;
}

.parent {
  z-index: 1;
}

.opac {
  transform: translate(-50%, -60%) rotate(-20deg);
  font-family: Notable;
  color: #795f88;
  opacity: .15;
  z-index: 2;
  animation: wiggle 6000ms ease infinite;
  transition: all 3000ms ease;
}

@keyframes wiggle {

  0% {
    transform: translate(-50%, -55%) rotate(-20deg);
  }

  50% {
    transform: translate(-50%, -55%) rotate(20deg);
  }

  100% {
    transform: translate(-50%, -55%) rotate(-20deg);
  }

}

.opac:hover {
  opacity: .98;
}
